<div class="card mb-2" *ngIf="crudOperation.isVisible">

    <div class="card-header">
        <div class="card-title"> Formulario de usuario</div>
    </div>

    <div class="card-body">
        <form ngNativeValidate (ngSubmit)="save()" id="usuario-form" class="form-group"
            [attr.disabled]="crudOperation.isEditable?null:''">

            <label>Usuario: </label>
            <input type="text" required [attr.readonly]="!crudOperation.isEditable?true:null" name="username" class="form-control"
                [(ngModel)]="current.username" maxlength="40" pattern="[A-Za-z0-9]+"
                placeholder="Solo se aceptan letras y n&uacute;meros sin espacios.">

            <label>Email: </label>
            <input type="email" required [attr.readonly]="!crudOperation.isEditable?true:null" name="email" class="form-control"
            [(ngModel)]="current.email">

            <label>Contraseña: </label>
            <input type="password" required [attr.readonly]="!crudOperation.isEditable?true:null" name="password" class="form-control"
            [(ngModel)]="current.password" minlength="4" maxlength="100" placeholder="Debe contener de 4 a 100 carateres">

            <label>Digite de nuevoContraseña: </label>
            <input type="password" required [attr.readonly]="!crudOperation.isEditable?true:null" name="passwordRepeated" class="form-control"
            [(ngModel)]="current.passwordRepeated" minlength="4" maxlength="100" placeholder="Debe contener de 4 a 100 carateres">

            <!--<label>Repita la Contrasenia: </label>
            <input type="password" class="form-control" [(ngModel)]="current_usuario.repeat_password">-->

            <br>
            <label>Seleccione un Rol: </label> <br>
              <select required [attr.readonly]="!crudOperation.isEditable?true:null"
               class="form-control" id="rol_id" [(value)]="current.rol_id" name="current.rol_id" [(ngModel)]="current.rol_id" >
                  <option *ngFor= 'let rol of roles'  [ngValue]="rol.id">{{rol.nombrerol}}</option>

              </select>
        </form>
    </div>

    <div class="card-footer">
        <button class="btn btn-sm btn-primary mr-1" *ngIf="crudOperation.isEditable" type="submit"
            form="usuario-form">Guardar</button>
        <button class="btn btn-sm btn-danger" (click)="onCancelBtn()">Cancelar</button>
    </div>

</div>


<div class="card">
    <div class="card-header">
        <strong>Usuarios</strong>
        <button class="btn btn-sm btn-success float-right" *ngIf="permisos.any.canCreate" (click)="new()">Nuevo Usuario</button>
    </div>
    <div class="card-body">
        <table class=" table table-sm table-striped table-over ">
            <tr>
                <th>Id</th>
                <th>Usuario</th>
                <th>Email</th>
                <th class="text-right">Opciones</th>
            </tr>
            <tr *ngFor="let row of data">
                <td>{{row.id}}</td>
                <td>{{row.username}}</td>
                <td>{{row.email}}</td>
                <td class="text-right">
                    <div *ngIf="!row.confirm">
                        <button class="btn btn-sm btn-info mr-1" *ngIf="permisos.any.canRead" (click)="show(row)">Ver</button>
                        <button class="btn btn-sm btn-warning mr-1" *ngIf="permisos.any.canEdit" (click)="edit(row)">Editar</button>
                        <button class="btn btn-sm btn-danger" *ngIf="permisos.any.canDelete" (click)="row.confirm=true">Eliminar</button>
                    </div>
                    <div *ngIf="row.confirm">
                        <button class="btn btn-sm btn-success mr-1" (click)="delete(row.id)">Confirmar</button>
                        <button class="btn btn-sm btn-danger" (click)="row.confirm=false">Cancelar</button>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
