<div class="card mb-2" *ngIf="crudOperation.isVisible">
    <div class="card-header">
        <div class="card-title"> Formulario de salas</div>
    </div>
    <div class="card-body">
        <form ngNativeValidate (ngSubmit)="save()" id="sala-form" class="form-group"
            [attr.disabled]="crudOperation.isEditable?null:''">

            <label>N&uacute;mero de sala: </label>
            <input type="number" required [attr.readonly]="!crudOperation.isEditable?true:null" name="sala"
                class="form-control" [(ngModel)]="current.numeroSala" min="1" max="50"
                placeholder="Solo se admiten n&uacute;meros.">
            <br>
            <label>Asunto: </label>
            <input type="text" required [attr.readonly]="!crudOperation.isEditable?true:null" name="asunto"
                class="form-control" [(ng-model)]="current.asunto" minlength="5" maxlength="20" pattern="[A-Za-z0-9 ]+"
                class="form-control" [(ngModel)]="current.asunto"
                placeholder="Ingresa el asunto (Longitud m&iacute;nima de 5 caracteres)">
            <br>
            <label>Tiempo de captura: </label>
            <input type="number" required [ttr.readonly]="!crudOperation.isEditable?true:null" name="tiempo_captura"
                class="form-control" [(ngModel)]="current.tiempo_captura" min="1" max="5" class="form-control"
                placeholder="Tiempo de espera (En minutos)">
            <br>
            <label>Tiempo a trabajar: &nbsp;</label>
            <select  required [(ngModel)]="current.tiempoTrabajo" name="tiempoTrabajo" id="s1">
                <option value="4">4</option>
                <option value="8">8</option>
            </select>
        </form>
    </div>
    <div class="card-footer">
        <button class="btn btn-sm btn-primary mr-1" *ngIf="crudOperation.isEditable" type="submit"
            form="sala-form">Guardar</button>
        <button class="btn btn-sm btn-danger" (click)="onCancelBtn()">Cancelar</button>
    </div>
</div>


<div class="card" *ngIf="!instancia.activa">
    <div class="card-header">
        <strong>Mis Salas</strong>
    </div>
    <div class="card-body">
        <table class=" table table-sm table-striped table-over ">
            <tr>
                <th>N&uacute;mero de sala</th>
                <th class="text-right">Asunto de la sala</th>
                <th class="text-right">Tiempo de Captura</th>
                <th class="text-right">Opciones de Sala</th>
            </tr>
            <tr *ngFor="let row of data">
                <td class="text-center">{{row.numeroSala}}</td>
                <td class="text-center">{{row.asunto}}</td>
                <td class="text-center">{{row.tiempo_captura}} min</td>
                <td class="text-right">
                    <div *ngIf="!row.confirm">
                        <button class="btn btn-sm btn-info mr-1" *ngIf="permisos.any.canRead" (click)="entrarSala(row)">Entrar</button>
                        <button class="btn btn-sm btn-info mr-1" *ngIf="permisos.any.canEdit" (click)="show(row)">Ver</button>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="card" *ngIf="instancia.activa">
    <div class="card-header">
        <strong >Sala</strong>
        <button type = "button"class= "btn btn-sm btn-success float-right ml-1"
            (click)="takeSnapshot()">Capturar</button>
        <button type = "button" class="btn btn-sm btn-success float-right ml-1" *ngIf="!instancia.capturando"
            (click)="capturar()">Compartir</button>
        <button type = "button" class="btn btn-sm btn-warning float-right ml-1" *ngIf="instancia.capturando"
            (click)="parar()">Parar</button>
        <button type = "button"  class="btn btn-sm btn-danger float-right" (click)="salirSala()">Salir</button>
    </div>
    <div class="card-body">
        <div class="row">
            <h5 *ngIf = "current">Asunto: {{current.asunto}} </h5>
        </div>
        <div class="row">
            <div class="col-12">
                <app-panel></app-panel>
            </div>
        </div>
    </div>
</div>

<style>
    #video {
        border: 1px solid #999;
        width: 98%;
        max-width: 860px;
        margin-top: 2%;
    }

    #video-camera {
        margin-top: 2%;
        border: 1px solid #999;
        width: 98%;
        max-width: 860px;
    }
</style>

<h6  class="mt-4" >Compartiendo Pantalla</h6>
<video id="video" title="pantalla" autoplay></video>
<h6  class="mt-4">Compartiendo webcam</h6>
<video id="video-camera" title="webcam" autoplay></video>
<!-- onSeeked="sendScreen()" -->