<div class="d-flex" id="wrapper">

  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper" *ngIf="sesionActiva">
    <div class="sidebar-heading">
      <h4>SIMTRE</h4>
    </div>
    <div class="list-group list-group-flush">
      <a href="#" class="list-group-item list-group-item-action bg-light"><i class="fa fa-home mr-1"></i>Home</a>
      <a class="list-group-item list-group-item-action bg-light" routerLink="/usuarios"
        *ngIf="usuarioPermisos.any.canRead"><i class="fa fa-users mr-1"></i>Usuarios</a>
      <a class="list-group-item list-group-item-action bg-light" routerLink="/roles" 
      *ngIf="rolPermisos.any.canRead"><i class="fa fa-users mr-1"></i>Roles</a>
      <a class="list-group-item list-group-item-action bg-light" routerLink="/empleados"
        *ngIf="empleadoPermisos.any.canRead"><i class="fa fa-users  mr-1"></i>Empleados</a>
      <a class="list-group-item list-group-item-action bg-light" routerLink="/log_empleados"
        *ngIf="logPermisos.any.canRead"><i class="fa fa-list  mr-1"></i>Log Empleados</a>
      <a class="list-group-item list-group-item-action bg-light" routerLink="/noti-personales"
        *ngIf="notiPersPermisos.any.canRead"><i class="fa fa-comments mr-1"></i>Notificaciones Personales</a>
      <a class="list-group-item list-group-item-action bg-light" routerLink="/salas" 
      *ngIf="salaPermisos.any.canRead"><i class="fa fa-tv mr-1"></i>Salas</a>
      <a class="list-group-item list-group-item-action bg-light" routerLink="/asignacionsalas"
        *ngIf="asignPermisos.any.canRead"> <i class="fa fa-tv mr-1"></i>Asignacion Salas</a>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">

    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <h6 *ngIf="haySesion()">Usuario: {{currentUser.username}}</h6>
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" *ngIf="!sesionActiva" routerLink="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" *ngIf="sesionActiva" (click)="logout()">Logout</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-sm btn-info ml-2" *ngIf="sesionActiva" data-toggle="collapse" href="#noti-sidebar-wrapper"
              role="button" aria-expanded="false" aria-controls="noti-sidebar-wrapper"><i class="fa fa-bell"></i></a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid pt-4">
      <h3>Sistema de monitoreo en tiempo real de empleados</h3>
      <router-outlet (activate)="onActivate($event)"> </router-outlet>
    </div>
  </div>
  <!-- /#page-content-wrapper -->

  <!-- Sidebar Notificaciones personales-->
  <app-panel-personal *ngIf="sesionActiva"></app-panel-personal>
  <!-- /#sidebar-wrapper -->

</div>
<!-- /#wrapper -->

<script>
  $("#menu-toggle").click(function (e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
  });
</script>