<div class="card mb-2" *ngIf="crudOperation.isVisible">
    <div class="card-header">
        <div class="card-title"> Formulario de Rol</div>
    </div>
    <div class="card-body">
        <form ngNativeValidate (ngSubmit)="save()" id="rols-componente-form" class="form-group">
            <label>Nombre rol: </label>
            <input type="text" name="mensaje" class="form-control" [(ngModel)]="current.nombrerol">
            <br>
        </form>
    </div>
    <div class="card-footer">
        <button class="btn btn-sm btn-primary mr-1" id="rols-componente-form">Guardar</button>
        <button class="btn btn-sm btn-danger" (click)="crudOperation.isVisible=false">Cancelar</button>
    </div>
</div>


<div class="card">
    <div class="card-header">
        <strong>Roles</strong>
        <button class="btn btn-sm btn-success float-right" (click)="new()">Nuevo rol</button>
    </div>
    <div class="card-body">
        <table class=" table table-sm table-striped table-over ">
            <tr>
                <th>Nombre rol</th>
                <th class="text-right">Opciones</th>
            </tr>
            <tr *ngFor="let row of data">
                <td>{{row.nombrerol}}</td>
                <td class="text-right">
                    <div *ngIf="!row.confirm">
                        <button class="btn btn-sm btn-warning mr-1" (click)="edit(row)">Editar</button>
                        <button class="btn btn-sm btn-danger" (click)="row.confirm=true">Eliminar</button>
                    </div>
                    <div *ngIf="row.confirm">
                        <button class="btn btn-sm btn-success mr-1" (click)="delete(row.id)">Confirmar</button>
                        <button class="btn btn-sm btn-danger" (click)="row.confirm=false">Cancelar</button>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>