<div class="card mb-2" *ngIf="crudOperation.isVisible">
    <div class="card-header">
        <div class="card-title"> Formulario de empleado</div>
    </div>
    <div class="card-body">
        <form  ngNativeValidate (ngSubmit)="save()" id="empleado-form"  class="form-group"
            [attr.disabled]="crudOperation.isEditable?null:''">
            <label>Codigo Empleado: </label>
            <input type="text" required [attr.readonly]="!crudOperation.isEditable?true:null"
                minlength="1" name="codigoEmpleado" maxlength="15" class="form-control" [(ngModel)]="current.codigoEmpleado"
                placeholder="Se aceptan numeros y letras, ejemplo: codigo123">
            <label>Nombre Empleado: </label>
            <input type="text" required [attr.readonly]="!crudOperation.isEditable?true:null"
                 minlength="1" name="nombreEmpleado" maxlength="100" pattern="[A-Za-z]+" class="form-control" [(ngModel)]="current.nombreEmpleado"
                 placeholder="Ingresar sin n&uacute;meros o s&iacute;mbolos, ejemplo: Juan">
            <label>Apellido Empleado: </label>
            <input type="text" required [attr.readonly]="!crudOperation.isEditable?true:null"
                 minlength="5" name="apellidosEmpleado" maxlength="50" pattern="[A-Za-z]+" class="form-control" [(ngModel)]="current.apellidosEmpleado"
                 placeholder="Ingresar sin n&uacute;meros o s&iacute;mbolos, ejemplo: Bonilla">
            <label>Dui Empleado: </label>
            <input type="text" required [attr.readonly]="!crudOperation.isEditable?true:null"
                size="10" name="dui" pattern="[0-9]{8}-[0-9]{1}" class="form-control" [(ngModel)]="current.dui"
                placeholder="Ingrese su n&uacute;mero de DUI con gui&oacute;n, ejemplo: 12345678-9">
            <br>
        </form>
    </div>
    <div class="card-footer">
        <button class="btn btn-sm btn-primary mr-1" *ngIf="crudOperation.isEditable"
            form="empleado-form">Guardar</button>
        <button class="btn btn-sm btn-danger" (click)="onCancelBtn()">Cancelar</button>
    </div>
</div>


<div class="card">
    <div class="card-header">
        <strong>Empleados</strong>
        <button class="btn btn-sm btn-success float-right" (click)="new()">Nuevo Empleado</button>
    </div>
    <div>
        <select id="s1" ng-model="selected">
            <option  *ngFor= 'let user of usuarios' value="{{user.username}}">{{user.username}}</option>

        </select>
    </div>
    <div class="card-body">
        <table class=" table table-sm table-striped table-over ">
            <tr>
                <th>CodigoEmpleado</th>
                <th>NombreEmpleado</th>
                <th>ApellidoEmpleado</th>
                <th>Dui</th>
                <th class="text-right">Opciones</th>
            </tr>
            <tr *ngFor="let row of data">
                <td>{{row.codigoEmpleado}}</td>
                <td>{{row.nombreEmpleado}}</td>
                <td>{{row.apellidosEmpleado}}</td>
                <td>{{row.dui}}</td>
                <td class="text-right">
                    <div *ngIf="!row.confirm">
                        <button class="btn btn-sm btn-warning mr-1" (click)="edit(row)">Editar</button>
                        <button class="btn btn-sm btn-danger" (click)="row.confirm=true">Eliminar</button>
                    </div>
                    <div *ngIf="row.confirm">
                        <button class="btn btn-sm btn-success mr-1" (click)="delete(row.id)">Confirmar</button>
                        <button class="btn btn-sm btn-danger" (click)="row.confirm=false">Cancelar</button>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
