<div class="card mb-2" *ngIf="crud_operation.is_visible">
    <div class="card-header">
        <div class="card-title"> Formulario de empleado</div>
    </div>
    <div class="card-body">
        <div class="form-group" >
            <label>Codigo Empleado: </label>
            <input type="text" class="form-control" [(ngModel)]="current_produ.codigoEmpleado">
            <label>Nombre Empleado: </label>
            <input type="text" class="form-control" [(ngModel)]="current_produ.nombreEmpleado">
            <label>Dui Empleado: </label>
            <input type="text" class="form-control" [(ngModel)]="current_produ.dui">
            <br>
        </div>
    </div>
    <div class="card-footer">
        <button class="btn btn-primary" (click)="save()">Guardar</button>
        <button class="btn btn-danger" (click)="crud_operation.is_visible=false">Cancelar</button>
    </div>
</div>


<div class="card">
    <div class="card-header">
        <button class="btn btn-success" (click)="new()">Nuevo Empleado</button>
    </div>
    <div class="card-body">
        <table class=" table table-striped table-over ">
            <tr>
                <th>CodigoEmpleado</th>
                <th>NombreEmpleado</th>
                <th>Dui</th>
                <th>Opciones</th>
            </tr>
            <tr *ngFor="let row of data">
                <td>{{row.codigoEmpleado}}</td>
                <td>{{row.nombreEmpleado}}</td>
                <td>{{row.dui}}</td>
                <td class="text-right">
                    <div *ngIf="!row.confirm">
                        <button class="btn btn-danger" (click)="row.confirm=true">Eliminar</button>
                        <button class="btn btn-warning" (click)="edit(row)">Editar</button>
                    </div>
                    <div *ngIf="row.confirm">
                        <button class="btn btn-success" (click)="delete(row.id)">Confirmar</button>
                        <button class="btn btn-danger" (click)="row.confirm=false">Cancelar</button>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>