
<div class="card mb-2" *ngIf="crudOperation.isVisible">
    <div class="card-header">
        <div class="card-title"> Formulario de salas</div>
    </div>
    <div class="card-body">
        <form ngNativeValidate (ngSubmit)="save()" id="sala-form" class="form-group"
        [attr.disabled]="crudOperation.isEditable?null:''">

        <label>Seleccione un Empleado: </label> <br>
        <select required [attr.readonly]="!crudOperation.isEditable?true:null"
         class="form-control" id="id_empleados_asignado" [(value)]="current.id_empleados_asignado" name="current.id_empleados_asignado" [(ngModel)]="current.id_empleados_asignado" >
            <option *ngFor= 'let emp of empleados'  [ngValue]="emp.id">{{emp.codigoEmpleado}} {{emp.nombreEmpleado}} {{emp.apellidosEmpleado}}</option>

        </select>
        <br>
        <label>Seleccione una Sala: </label> <br>
        <select required [attr.readonly]="!crudOperation.isEditable?true:null"
         class="form-control" id="id_sala_asignada" [(value)]="current.id_sala_asignada" name="current.id_sala_asignada" [(ngModel)]="current.id_sala_asignada" >
            <option *ngFor= 'let sala of salas'  [ngValue]="sala.id">Sala #: {{sala.numeroSala}} Asunto: {{sala.asunto}}</option>

        </select>
        </form>
    </div>
    <div class="card-footer">
        <button class="btn btn-sm btn-primary mr-1" type = "submit" form="sala-form">Guardar</button>
        <button class="btn btn-sm btn-danger" (click)="onCancelBtn()">Cancelar</button>
    </div>
</div>


<div class="card">
    <div class="card-header">
        <strong>Salas</strong>
        <button class="btn btn-sm btn-success float-right ml-1" (click)="capturar()">Capturar</button>
        <button class="btn btn-sm btn-success float-right" *ngIf="permisos.any.canCreate" (click)="new()">Nueva Asignaci&oacute;n Sala</button>
    </div>

    <div class="card-body">
        <table class=" table table-sm table-striped table-over ">
            <tr>
                <th class="text-center">C&oacute;digo empleado</th>
                <th class="text-center">Nombre Empleado</th>
                <th class="text-center">N&uacute;mero de Sala</th>
                <th class="text-center">Asunto de Sala</th>

                <th class="text-center">Opciones</th>
            </tr>
            <tr *ngFor="let row of asigsala">
                <td class="text-center">{{row.codigoEmpleado}}</td>
                <td class="text-center">{{row.apellidosEmpleado}}, {{row.nombreEmpleado}}</td>
                <td class="text-center">{{row.numeroSala}}</td>
                <td class="text-center">{{row.asunto}}</td>

                <td class="text-center">
                    <div *ngIf="!row.confirm">
                        <button class="btn btn-sm btn-warning mr-1"  *ngIf="permisos.any.canEdit" (click)="edit(row)">Editar</button>
                        <button class="btn btn-sm btn-danger" *ngIf="permisos.any.canDelete" (click)="row.confirm=true">Eliminar</button>
                    </div>
                    <div *ngIf="row.confirm">
                        <button class="btn btn-sm btn-success mr-1" (click)="delete(row.id)">Confirmar</button>
                        <button class="btn btn-sm btn-danger" (click)="row.confirm=false">Cancelar</button>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
