/proyecto1-angular/node_modules
/proyecto1-angular/dist
/proyecto1-angular/tmp
/proyecto1-angular/out-tsc
/proyecto1-angular/chrome-profiler-events*.json
/proyecto1-angular/speed-measure-plugin*.json
/Proyecto/.git/index.lock

/proyecto1-laravel/node_modules
/proyecto1-laravel/public/hot
/proyecto1-laravel/public/storage
/proyecto1-laravel/storage/*.key
/proyecto1-laravel/vendor
/proyecto1-laravel/.env.backup
/proyecto1-laravel/.phpunit.result.cache
/proyecto1-laravel/Homestead.json
/proyecto1-laravel/Homestead.yaml
/proyecto1-laravel/npm-debug.log
/proyecto1-laravel/yarn-error.log
/proyecto1-laravel/.env

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*


